<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.title %}
  {% assign title = page.title | append: " | Kevin Tran" | escape %}
{% else %}
  {% assign title = site.title | escape %}
{% endif %}

{% assign cover_image = page.cover_image | default: site.logo.url %}

<meta http-equiv="X-UA-Compatible" content="chrome=1">

<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="icon" sizes="16x16 32x32 48x48" href="/favicon.ico">

<!-- SOCIAL WEBSITES META DATA -->
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ cover_image }}">
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<!-- END SOCIAL WEBSITES META DATA -->

<title>{{ title }}</title>
<meta name="description" content="{{ site.description }}">
