@font-face {
  font-family: "DavlidLibre-Regular";
  src: url("../fonts/DavidLibre-Regular.ttf");
}

@font-face {
  font-family: "DavlidLibre-Bold";
  src: url("../fonts/DavidLibre-Bold.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
