@import "rouge-base16-dark";

@import url('https://fonts.googleapis.com/css?family=Mukta:400');

$primary-color: #dddddd;
$background-color: #333333;

body {
  margin: 0;
  padding: 0;
  color: $primary-color;
  font-family: 'Mukta', sans-serif;
  background: $background-color;
}

/* General & 'Reset' Stuff */

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 1%;
  margin: 0;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

header {
  background: darken($background-color, 5%);
}

pre {
  background: darken($background-color, 2%);
  padding: 10px;
}
