---
layout: default
---

<div class="post-list"{% if lang != empty %} lang="{{ lang }}"{% endif %} >
  {% for post in paginator.posts %}
  {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
  {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

  <div class="post-wrapper">
    <h3 class="post-title">
      <a class="post-link text-bold" href="{{ post.url | relative_url }}">{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>

      <span class="read-more">
        <a class="post-link" href="{{ post.url | relative_url }}">go to post</a>
      </span>
    </h3>

    <div class="post-content homepage">
      {{ post.excerpt }}
    </div>
  </div>

  {% endfor %}

  {% include pagination.html %}
  {% include footer.html %}
</div>

