---
layout: default
---

<div class="py-4"{% if lang != empty %} lang="{{ lang }}"{% endif %} >
  {% for post in paginator.posts %}
  {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
  {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

  <div class="pb-1">
    <div class="pb-1">
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h3 class="d-inline-block text-hover-highlight">
          {{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}
        </h3>
        <span class="text-xsmall text-secondary">
          Click to read
        </span>
      </a>
    </div>

    <div class="pl-3 text-small">
      {{ post.excerpt }}
    </div>
  </div>

  {% endfor %}

  {% include pagination.html %}
  {% include footer.html %}
</div>

