---
layout: default
tags: ""
---

<div class="pt-1"></div>
<div class="post-wrapper">
  <div class="px-sm-1 px-md-0">
    <div class="bg-light-secondary pb-1 pt-3 px-1 border-b-2 border-b-cl-primary">
      <div class="title-wrapper text-align-right">
        <h1 class="pb-1 post-title-font">
          {{ page.title | escape }}
        </h1>

        <div class="published-date small text-light px-2">
          Published at {{ page.date | date: "%b %-d, %Y" }}
        </div>
      </div>
    </div>
  </div>

  <div class="px-sm-1 px-md-0 mb-4">
    <div class="post-content p-3 bg-light-secondary border-b-rounded">
      <div class="pb-3">
        {{content}}
      </div>
    </div>
  </div>

  {% include footer.html %}
</div>

